.ipynb_checkpoints
tool/kamppi/simulation_output/emissions_1.xml
tool/kamppi/simulation_output/teleports_1.csv
tool/kamppi/simulation_output/test_fcdresults_1.xml
tool/kamppi/simulation_output/plot_net_dump.xml
infos.txt
To-do.docx
To-do UI – pikakuvake.lnk